<!doctype html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Welcome</title>

		<link rel="stylesheet" type="text/css" href="/static/css/login.css">
		<link rel="stylesheet" type="text/css" href="/static/css/view.css">
		<link rel="stylesheet" type="text/css" href="/static/css/upload.css">
		<link rel="stylesheet" type="text/css" href="/static/css/base.css">
		{% block style %}{% endblock %}
	</head>

	<body>
		<div class="wrapper">
			<div class="main-grid">

				<!-- Sidebar -->
				<div id="sidebar">
					<hr>
					<a href="{{ url_for('view.view') }}">view</a><br>
					<a href="{{ url_for('view.upload') }}">upload</a><br>
					<hr>
					{% block sidebar %}
					{% endblock %}
				</div>

				<!-- Content -->
				<div id="main-content">
					{% block contents %}
					{% endblock %}
				</div>
			</div>
		</div>
	</body>
</html>
