td {
	border: solid 2px lightgrey;
}

table {
	border-collapse: collapse;
}

.file-list {
	display: inline-block;
	vertical-align: top;
	overflow: hidden;
}

.file-list select {
	padding: 0px;
	overflow: hidden;
	border-radius: 0px;
	background-color: white;
}

.file-list option {
	padding: 3px;
}

#csv-file {
	display: grid;
	direction: rtl;
}

#submit-button {
	margin-bottom: 5px;
	padding: 2%;
}
