body {
	background-image: url(../images/view-bg.jpg);
}

#container {
	height: 100vh;
	width: 100vw;
	display: table;
	position: absolute;
}

#container-center {
	display: table-cell;
	vertical-align: middle;
}

#center-box {
	border-radius: 100px;
	margin: 0px auto;
	padding: 5%;
	height: 45%; 
	width: 45%; 
	background-color: rgb(255, 255, 255, 0.8);
}

#contents {
	font-size: 40px;
	text-align: center;
	vertical-align: middle;
}